In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('internal_displacment_2014-2024.csv')
df.head()

   Year Country of origin Country of asylum   Total
0  2014       Afghanistan                 -  805000
1  2014             Egypt                 -    4100
2  2014           Armenia                 -    8400
3  2014        Azerbaijan                 -  569000
4  2014           Burundi                 -   78000

In [6]:
df.drop('Country of asylum',axis=1,inplace=True)

KeyError: "['Country of asylum'] not found in axis"

In [ ]:
df.head()

   Year Country of origin   Total
0  2014       Afghanistan  805000
1  2014             Egypt    4100
2  2014           Armenia    8400
3  2014        Azerbaijan  569000
4  2014           Burundi   78000

In [15]:
df['Total'].describe()

count    6.450000e+02
mean     8.461962e+05
std      1.568580e+06
min      2.000000e+00
25%      1.900000e+04
50%      1.900000e+05
75%      7.300000e+05
max      9.053000e+06
Name: Total, dtype: float64

In [20]:
df['Country of origin'].nunique()

79

In [21]:
df.isnull().sum()

Year                 0
Country of origin    0
Total                0
dtype: int64

In [23]:
df.columns = df.columns.str.lower().str.replace(' ','-')
df.head()

   year country-of-origin   total
0  2014       Afghanistan  805000
1  2014             Egypt    4100
2  2014           Armenia    8400
3  2014        Azerbaijan  569000
4  2014           Burundi   78000

In [31]:
df.groupby(['country-of-origin','year'])['total'].sum().sort_values(ascending=False).head(15)

country-of-origin       year
Sudan                   2024    9053000
                        2023    9053000
Syrian Arab Rep.        2014    7600000
                        2023    7248000
                        2024    7248000
Colombia                2016    7246000
Syrian Arab Rep.        2022    6865000
                        2017    6784000
Dem. Rep. of the Congo  2023    6734000
                        2024    6734000
Syrian Arab Rep.        2021    6662000
                        2015    6600000
                        2020    6568000
Colombia                2017    6509000
Syrian Arab Rep.        2019    6495000
Name: total, dtype: int64

In [47]:
df.groupby(['year','country-of-origin'])['total'].sum().sort_values(ascending=False).head(10).reset_index()

   year       country-of-origin    total
0  2023                   Sudan  9053000
1  2024                   Sudan  9053000
2  2014        Syrian Arab Rep.  7600000
3  2024        Syrian Arab Rep.  7248000
4  2023        Syrian Arab Rep.  7248000
5  2016                Colombia  7246000
6  2022        Syrian Arab Rep.  6865000
7  2017        Syrian Arab Rep.  6784000
8  2023  Dem. Rep. of the Congo  6734000
9  2024  Dem. Rep. of the Congo  6734000

In [ ]:
df[['year', 'total']].groupby(by="year").sum().sort_values(by="total",ascending=False)

         total
year
2023  68279000
2024  68278300
2022  62500170
2021  53246765
2020  48027950
2019  45667305
2018  41312940
2015  40451900
2016  40220850
2017  39934042
2014  37877320

In [42]:
df.groupby(by='country-of-origin')['year'].nunique().sort_values(ascending=False).head(20)

country-of-origin
-                                       11
India                                   11
Iraq                                    11
Kenya                                   11
Afghanistan                             11
Libya                                   11
Mali                                    11
Mexico                                  11
Myanmar                                 11
Niger                                   11
Nigeria                                 11
North Macedonia                         11
Pakistan                                11
Palestinian                             11
Papua New Guinea                        11
Peru                                    11
Philippines                             11
Russian Federation                      11
Senegal                                 11
Serbia and Kosovo: S/RES/1244 (1999)    11
Name: year, dtype: int64

In [ ]:
df[df['country-of-origin'] == '-']

     year country-of-origin  total
56   2014                 -  20000
108  2015                 -  82000
163  2016                 -  20000
215  2017                 -  31000
270  2018                 -  31000
331  2019                 -  31000
390  2020                 -  19000
450  2021                 -  15000
514  2022                 -  56000
579  2023                 -  42000
644  2024                 -  42000