In [2]:
import pandas as pd
import numpy as np

In [44]:
new_file = 'IDMC_GIDD_Disasters_Internal_Displacement_Data.xlsx'
csv_converted = 'innerDisplaced.csv'
df = pd.read_excel(new_file)
df.to_csv(csv_converted, index=False)
df_innerDisplaced = pd.read_csv('innerDisplaced.csv')
df_innerDisplaced.head(10)
df_innerDisplaced.tail(10)

,ISO3,Country / Territory,Year,Event Name,Date of Event (start),Disaster Internal Displacements,Disaster Internal Displacements (Raw),Hazard Category,Hazard Type,Hazard Sub Type,Event Codes (Code:Type),Event ID,Displacement occurred
17029,DNK,Denmark,2023,"Denmark ,Germany, Ireland, United Kingdom: Sto...",2023-10-18,71,71,Weather related,Storm,Storm,NaN,22205.0,Displacement without preventive evacuations re...
17030,DEU,Germany,2023,"Denmark ,Germany, Ireland, United Kingdom: Sto...",2023-10-18,2000,2000,Weather related,Storm,Storm,NaN,22205.0,Displacement without preventive evacuations re...
17031,IRL,Ireland,2023,"Denmark ,Germany, Ireland, United Kingdom: Sto...",2023-10-18,7,7,Weather related,Storm,Storm,NaN,22205.0,Displacement without preventive evacuations re...
17032,GBR,United Kingdom,2023,"Denmark ,Germany, Ireland, United Kingdom: Sto...",2023-10-18,4100,4098,Weather related,Storm,Storm,NaN,22205.0,Displacement reporting preventive evacuations
17033,FRA,France,2023,"France, Spain, Portugal: Storm Aline - 17/10/2023",2023-10-17,330,326,Weather related,Storm,Storm,NaN,22206.0,Displacement reporting preventive evacuations
17034,PRT,Portugal,2023,"France, Spain, Portugal: Storm Aline - 17/10/2023",2023-10-17,14,14,Weather related,Storm,Storm,NaN,22206.0,Displacement without preventive evacuations re...
17035,USA,United States,2023,"Mexico, United States: Tropical Cyclone Hilary...",2023-08-16,9000,9000,Weather related,Storm,Typhoon/Hurricane/Cyclone,TC-2023-000150-MEX:Glide Number; TC-2023-00015...,22210.0,Displacement without preventive evacuations re...
17036,CUB,Cuba,2023,"Cuba, United States: Tropical Cyclone Idalia -...",2023-08-26,13000,13044,Weather related,Storm,Typhoon/Hurricane/Cyclone,NaN,22212.0,Displacement without preventive evacuations re...
17037,USA,United States,2023,"Cuba, United States: Tropical Cyclone Idalia -...",2023-08-26,57000,57483,Weather related,Storm,Typhoon/Hurricane/Cyclone,NaN,22212.0,Displacement reporting preventive evacuations
17038,PHL,Philippines,2023,Philippines: Erosion - Region V (Legazpi) - 27...,2023-12-27,50,50,Weather related,Erosion,Erosion,NaN,22214.0,Displacement reporting preventive evacuations

In [48]:
df_innerDisplaced['Year'].value_counts()
df_innerDisplaced[['Year', 'Disaster Internal Displacements']].groupby(by="Year").sum().sort_values(by="Disaster Internal Displacements",ascending=False)

      Disaster Internal Displacements
Year
2010                         42352645
2008                         38239503
2022                         32564766
2020                         30986437
2012                         30146782
2023                         26396066
2019                         25248362
2016                         24417499
2021                         23719664
2013                         22130547
2015                         19194223
2014                         19119314
2017                         18679385
2018                         17466627
2009                         16734850
2011                         15023549

In [49]:
df_innerDisplaced[['Year', 'Disaster Internal Displacements', 'Hazard Category']].groupby(by=["Year", "Hazard Category"]).sum().sort_values(by="Disaster Internal Displacements", ascending=False)

                      Disaster Internal Displacements
Year Hazard Category
2010 Weather related                         38302395
2022 Weather related                         31847774
2020 Weather related                         30332687
2012 Weather related                         29469442
2019 Weather related                         24300050
2016 Weather related                         23808867
2008 Weather related                         22470123
2021 Weather related                         22356222
2013 Weather related                         20300462
2023 Weather related                         20268748
2017 Weather related                         17921305
2014 Weather related                         17380255
2018 Weather related                         16367563
2008 Geophysical                             15769380
2009 Weather related                         15256500
2015 Weather related                         14736067
2011 Weather related                         13880404
2023 Geophysical                              6127318
2015 Geophysical                              4458156
2010 Geophysical                              4050250
2013 Geophysical                              1830085
2014 Geophysical                              1739059
2009 Geophysical                              1478350
2021 Geophysical                              1363442
2011 Geophysical                              1143145
2018 Geophysical                              1099064
2019 Geophysical                               948312
2017 Geophysical                               758080
2022 Geophysical                               716992
2012 Geophysical                               677340
2020 Geophysical                               653750
2016 Geophysical                               608632

In [52]:
#df_innerDisplaced['Country / Territory'].value_counts().sort_values(ascending=False).head(10)
df_innerDisplaced.rename(columns={'Country / Territory': 'hazard-location'}, inplace=True)
df_innerDisplaced['hazard-location'].value_counts().sort_values(ascending=False).head(10)

hazard-location
Indonesia        2149
United States    1233
Colombia          826
Peru              708
Brazil            640
Philippines       634
China             604
Malaysia          589
Sri Lanka         435
Burundi           400
Name: count, dtype: int64

In [30]:
sub_type = df_innerDisplaced[ 'Hazard Sub Type' ].value_counts().sort_values( ascending = False ).head(10)
print (sub_type)

Hazard Sub Type
Flood                          7673
Storm                          3459
Landslide/Wet mass movement    1586
Wildfire                       1523
Typhoon/Hurricane/Cyclone       632
Earthquake                      518
Tornado                         509
Drought                         259
Dry mass movement               180
Hailstorm                       163
Name: count, dtype: int64

In [31]:
type = df_innerDisplaced[ 'Hazard Type' ].value_counts().sort_values( ascending = False ).head(10)
print(type)

Hazard Type
Flood                  7704
Storm                  4874
Mass Movement          1824
Wildfire               1523
Earthquake              522
Drought                 259
Extreme Temperature     135
Volcanic activity       114
Erosion                  63
Wave action              21
Name: count, dtype: int64

In [56]:
df_innerDisplaced[['hazard-location','Year','Hazard Type','Hazard Sub Type','Disaster Internal Displacements']].sort_values(by='Disaster Internal Displacements',ascending=False).head(20)

,hazard-location,Year,Hazard Type,Hazard Sub Type,Disaster Internal Displacements
332,China,2010,Flood,Flood,15200000
40,China,2008,Earthquake,Earthquake,15000000
399,Pakistan,2010,Flood,Flood,11000000
11469,Pakistan,2022,Flood,Flood,7245000
667,India,2012,Flood,Flood,6900000
1284,Philippines,2013,Storm,Storm,4095000
17018,Türkiye,2023,Earthquake,Earthquake,4047000
10781,Philippines,2021,Storm,Typhoon/Hurricane/Cyclone,3948000
701,Nigeria,2012,Flood,Flood,3871000
8908,China,2020,Flood,Flood,3760000
476,China,2011,Flood,Flood,3514000
13119,Philippines,2022,Storm,Typhoon/Hurricane/Cyclone,3013000
1904,Philippines,2014,Storm,Storm,2994000
2565,Nepal,2015,Earthquake,Earthquake,2623000
7555,India,2019,Flood,Flood,2623000
57,Cuba,2008,Storm,Storm,2616000
3085,Philippines,2016,Storm,Typhoon/Hurricane/Cyclone,2592000
7888,Bangladesh,2020,Storm,Typhoon/Hurricane/Cyclone,2509000
240,India,2009,Flood,Flood,2500000
7890,India,2020,Storm,Typhoon/Hurricane/Cyclone,2441000

In [ ]:
df_innerDisplaced.drop('Hazard Sub Type', axis=1, inplace=True)

KeyError: "['Hazard Sub Type'] not found in axis"

In [79]:
#df_innerDisplaced.head(10)
null_values = df_innerDisplaced[df_innerDisplaced['Event Codes (Code:Type)'].isnull()]
null_values

,ISO3,hazard-location,Year,Event Name,Date of Event (start),Disaster Internal Displacements,Disaster Internal Displacements (Raw),Hazard Category,Hazard Type,Event Codes (Code:Type),Event ID,Displacement occurred
0,JEY,Jersey,2023,Jersey: Storm - Countrywide - 02/11/2023,2023-11-02,84,84,Weather related,Storm,NaN,NaN,Displacement without preventive evacuations re...
1,AFG,Afghanistan,2008,Afghanistan: Flood - 01/08/2008,2008-08-01,180,180,Weather related,Flood,NaN,NaN,NaN
2,AFG,Afghanistan,2008,Afghanistan: Earthquake - 17/04/2008,2008-04-17,3200,3250,Geophysical,Earthquake,NaN,NaN,NaN
3,ARG,Argentina,2008,Argentina: Flood - 28/01/2008,2008-01-28,640,635,Weather related,Flood,NaN,NaN,NaN
4,ATG,Antigua and Barbuda,2008,Antigua and Barbuda: Storm - 15/10/2008,2008-10-15,45,45,Weather related,Storm,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
17033,FRA,France,2023,"France, Spain, Portugal: Storm Aline - 17/10/2023",2023-10-17,330,326,Weather related,Storm,NaN,22206.0,Displacement reporting preventive evacuations
17034,PRT,Portugal,2023,"France, Spain, Portugal: Storm Aline - 17/10/2023",2023-10-17,14,14,Weather related,Storm,NaN,22206.0,Displacement without preventive evacuations re...
17036,CUB,Cuba,2023,"Cuba, United States: Tropical Cyclone Idalia -...",2023-08-26,13000,13044,Weather related,Storm,NaN,22212.0,Displacement without preventive evacuations re...
17037,USA,United States,2023,"Cuba, United States: Tropical Cyclone Idalia -...",2023-08-26,57000,57483,Weather related,Storm,NaN,22212.0,Displacement reporting preventive evacuations
17038,PHL,Philippines,2023,Philippines: Erosion - Region V (Legazpi) - 27...,2023-12-27,50,50,Weather related,Erosion,NaN,22214.0,Displacement reporting preventive evacuations

In [81]:

event_name = df_innerDisplaced['Event Name'].value_counts()
event_name

Event Name
15 countries - Hurricane Irma - 27/08/2017                                 15
12 COUNTRIES: Hurricane Eta - 31/10/2020                                   12
Hurricane Matthew                                                          11
Philippines: Flood - 01/01/2010                                            10
Philippines: Flood - 01/01/2011                                             9
                                                                           ..
Luxembourg: tornado - 09/08/2019                                            1
USA: Wildfire (Desert Canyon) - Douglas County (Washington) - 23/7/2019     1
South Sudan: Wildfire - Western Bahr el Ghazal - 05/05/2019                 1
CAR: Flood - Ombella M'Poko - 03/08/2019                                    1
Philippines: Erosion - Region V (Legazpi) - 27/12/2023                      1
Name: count, Length: 16369, dtype: int64

In [100]:
row = df_innerDisplaced[df_innerDisplaced['Event Name'].str.contains(r'\d{2}/\d{2}/\d{4}', regex=True)]
row

,ISO3,hazard-location,Year,Event Name,Date of Event (start),Disaster Internal Displacements,Disaster Internal Displacements (Raw),Hazard Category,Hazard Type,Event Codes (Code:Type),Event ID,Displacement occurred
0,JEY,Jersey,2023,Jersey: Storm - Countrywide - 02/11/2023,2023-11-02,84,84,Weather related,Storm,NaN,NaN,Displacement without preventive evacuations re...
1,AFG,Afghanistan,2008,Afghanistan: Flood - 01/08/2008,2008-08-01,180,180,Weather related,Flood,NaN,NaN,NaN
2,AFG,Afghanistan,2008,Afghanistan: Earthquake - 17/04/2008,2008-04-17,3200,3250,Geophysical,Earthquake,NaN,NaN,NaN
3,ARG,Argentina,2008,Argentina: Flood - 28/01/2008,2008-01-28,640,635,Weather related,Flood,NaN,NaN,NaN
4,ATG,Antigua and Barbuda,2008,Antigua and Barbuda: Storm - 15/10/2008,2008-10-15,45,45,Weather related,Storm,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
17034,PRT,Portugal,2023,"France, Spain, Portugal: Storm Aline - 17/10/2023",2023-10-17,14,14,Weather related,Storm,NaN,22206.0,Displacement without preventive evacuations re...
17035,USA,United States,2023,"Mexico, United States: Tropical Cyclone Hilary...",2023-08-16,9000,9000,Weather related,Storm,TC-2023-000150-MEX:Glide Number; TC-2023-00015...,22210.0,Displacement without preventive evacuations re...
17036,CUB,Cuba,2023,"Cuba, United States: Tropical Cyclone Idalia -...",2023-08-26,13000,13044,Weather related,Storm,NaN,22212.0,Displacement without preventive evacuations re...
17037,USA,United States,2023,"Cuba, United States: Tropical Cyclone Idalia -...",2023-08-26,57000,57483,Weather related,Storm,NaN,22212.0,Displacement reporting preventive evacuations
17038,PHL,Philippines,2023,Philippines: Erosion - Region V (Legazpi) - 27...,2023-12-27,50,50,Weather related,Erosion,NaN,22214.0,Displacement reporting preventive evacuations

In [ ]:
df_innerDisplaced = df_innerDisplaced[df_innerDisplaced['Event Name'].str.contains(r'\d{2}/\d{2}/\d{4}', regex=True)]

df_innerDisplaced['event-name'] = df_innerDisplaced['Event Name'].str.replace(r'\d{2}/\d{2}/\d{4}', '', regex=True).str.strip()

df_innerDisplaced.head(10)

,ISO3,hazard-location,Year,Event Name,Date of Event (start),Disaster Internal Displacements,Disaster Internal Displacements (Raw),Hazard Category,Hazard Type,Event Codes (Code:Type),Event ID,Displacement occurred,event-name
0,JEY,Jersey,2023,Jersey: Storm - Countrywide - 02/11/2023,2023-11-02,84,84,Weather related,Storm,NaN,NaN,Displacement without preventive evacuations re...,Jersey: Storm - Countrywide -
1,AFG,Afghanistan,2008,Afghanistan: Flood - 01/08/2008,2008-08-01,180,180,Weather related,Flood,NaN,NaN,NaN,Afghanistan: Flood -
2,AFG,Afghanistan,2008,Afghanistan: Earthquake - 17/04/2008,2008-04-17,3200,3250,Geophysical,Earthquake,NaN,NaN,NaN,Afghanistan: Earthquake -
3,ARG,Argentina,2008,Argentina: Flood - 28/01/2008,2008-01-28,640,635,Weather related,Flood,NaN,NaN,NaN,Argentina: Flood -
4,ATG,Antigua and Barbuda,2008,Antigua and Barbuda: Storm - 15/10/2008,2008-10-15,45,45,Weather related,Storm,NaN,NaN,NaN,Antigua and Barbuda: Storm -
5,AUS,Australia,2008,Australia: Storm - 16/11/2008,2008-11-16,1000,1000,Weather related,Storm,NaN,NaN,NaN,Australia: Storm -
6,BDI,Burundi,2008,Burundi: Flood - 20/09/2008,2008-09-20,2800,2770,Weather related,Flood,NaN,NaN,NaN,Burundi: Flood -
7,BEN,Benin,2008,Benin: Flood - 01/07/2008,2008-07-01,150000,150000,Weather related,Flood,NaN,NaN,NaN,Benin: Flood -
8,BFA,Burkina Faso,2008,Burkina Faso: Flood - 01/08/2008,2008-08-01,28000,28000,Weather related,Flood,NaN,NaN,NaN,Burkina Faso: Flood -
9,BGD,Bangladesh,2008,Bangladesh: Landslide/Wet mass movement - 16/0...,2008-08-16,1700,1657,Weather related,Mass Movement,NaN,NaN,NaN,Bangladesh: Landslide/Wet mass movement -

In [ ]:
df_innerDisplaced['event-name-edited'] = df_innerDisplaced['Event Name'].str.replace(r'\s[-]\s\d{2}/\d{2}/\d{4}', '', regex=True).str.strip()
df_innerDisplaced.drop('event-name', axis=1,inplace=True)
df_innerDisplaced.head(10)

,ISO3,hazard-location,Year,Event Name,Date of Event (start),Disaster Internal Displacements,Disaster Internal Displacements (Raw),Hazard Category,Hazard Type,Event Codes (Code:Type),Event ID,Displacement occurred,event-name-edited
0,JEY,Jersey,2023,Jersey: Storm - Countrywide - 02/11/2023,2023-11-02,84,84,Weather related,Storm,NaN,NaN,Displacement without preventive evacuations re...,Jersey: Storm - Countrywide
1,AFG,Afghanistan,2008,Afghanistan: Flood - 01/08/2008,2008-08-01,180,180,Weather related,Flood,NaN,NaN,NaN,Afghanistan: Flood
2,AFG,Afghanistan,2008,Afghanistan: Earthquake - 17/04/2008,2008-04-17,3200,3250,Geophysical,Earthquake,NaN,NaN,NaN,Afghanistan: Earthquake
3,ARG,Argentina,2008,Argentina: Flood - 28/01/2008,2008-01-28,640,635,Weather related,Flood,NaN,NaN,NaN,Argentina: Flood
4,ATG,Antigua and Barbuda,2008,Antigua and Barbuda: Storm - 15/10/2008,2008-10-15,45,45,Weather related,Storm,NaN,NaN,NaN,Antigua and Barbuda: Storm
5,AUS,Australia,2008,Australia: Storm - 16/11/2008,2008-11-16,1000,1000,Weather related,Storm,NaN,NaN,NaN,Australia: Storm
6,BDI,Burundi,2008,Burundi: Flood - 20/09/2008,2008-09-20,2800,2770,Weather related,Flood,NaN,NaN,NaN,Burundi: Flood
7,BEN,Benin,2008,Benin: Flood - 01/07/2008,2008-07-01,150000,150000,Weather related,Flood,NaN,NaN,NaN,Benin: Flood
8,BFA,Burkina Faso,2008,Burkina Faso: Flood - 01/08/2008,2008-08-01,28000,28000,Weather related,Flood,NaN,NaN,NaN,Burkina Faso: Flood
9,BGD,Bangladesh,2008,Bangladesh: Landslide/Wet mass movement - 16/0...,2008-08-16,1700,1657,Weather related,Mass Movement,NaN,NaN,NaN,Bangladesh: Landslide/Wet mass movement

In [116]:
df_innerDisplaced.rename(columns={'Country / Territory': 'hazard-location'}, inplace=True)

df_innerDisplaced.rename(columns={'event-name-edited':'event-name'},inplace=True)
df_innerDisplaced.head(10)

,ISO3,hazard-location,Year,Event Name,Date of Event (start),Disaster Internal Displacements,Disaster Internal Displacements (Raw),Hazard Category,Hazard Type,Event Codes (Code:Type),Event ID,Displacement occurred,event-name
0,JEY,Jersey,2023,Jersey: Storm - Countrywide - 02/11/2023,2023-11-02,84,84,Weather related,Storm,NaN,NaN,Displacement without preventive evacuations re...,Jersey: Storm - Countrywide
1,AFG,Afghanistan,2008,Afghanistan: Flood - 01/08/2008,2008-08-01,180,180,Weather related,Flood,NaN,NaN,NaN,Afghanistan: Flood
2,AFG,Afghanistan,2008,Afghanistan: Earthquake - 17/04/2008,2008-04-17,3200,3250,Geophysical,Earthquake,NaN,NaN,NaN,Afghanistan: Earthquake
3,ARG,Argentina,2008,Argentina: Flood - 28/01/2008,2008-01-28,640,635,Weather related,Flood,NaN,NaN,NaN,Argentina: Flood
4,ATG,Antigua and Barbuda,2008,Antigua and Barbuda: Storm - 15/10/2008,2008-10-15,45,45,Weather related,Storm,NaN,NaN,NaN,Antigua and Barbuda: Storm
5,AUS,Australia,2008,Australia: Storm - 16/11/2008,2008-11-16,1000,1000,Weather related,Storm,NaN,NaN,NaN,Australia: Storm
6,BDI,Burundi,2008,Burundi: Flood - 20/09/2008,2008-09-20,2800,2770,Weather related,Flood,NaN,NaN,NaN,Burundi: Flood
7,BEN,Benin,2008,Benin: Flood - 01/07/2008,2008-07-01,150000,150000,Weather related,Flood,NaN,NaN,NaN,Benin: Flood
8,BFA,Burkina Faso,2008,Burkina Faso: Flood - 01/08/2008,2008-08-01,28000,28000,Weather related,Flood,NaN,NaN,NaN,Burkina Faso: Flood
9,BGD,Bangladesh,2008,Bangladesh: Landslide/Wet mass movement - 16/0...,2008-08-16,1700,1657,Weather related,Mass Movement,NaN,NaN,NaN,Bangladesh: Landslide/Wet mass movement

In [ ]:

df_innerDisplaced['event-data'] = pd.to_datetime(df_innerDisplaced['Date of Event (start)'].str.strip(),format='%Y-%m-%d')
df_innerDisplaced['event-data'].dtype

KeyError: "['Date of Event (start'] not found in axis"

In [134]:
df_innerDisplaced.drop('Date of Event (start)',axis=1,inplace=True)

In [139]:
df_innerDisplaced.head(10)
df_innerDisplaced.drop('Event Name', axis=1, inplace=True)
df_innerDisplaced

,ISO3,hazard-location,Year,Disaster Internal Displacements,Disaster Internal Displacements (Raw),Hazard Category,Hazard Type,Event Codes (Code:Type),Event ID,Displacement occurred,event-name,event-data
0,JEY,Jersey,2023,84,84,Weather related,Storm,NaN,NaN,Displacement without preventive evacuations re...,Jersey: Storm - Countrywide,2023-11-02
1,AFG,Afghanistan,2008,180,180,Weather related,Flood,NaN,NaN,NaN,Afghanistan: Flood,2008-08-01
2,AFG,Afghanistan,2008,3200,3250,Geophysical,Earthquake,NaN,NaN,NaN,Afghanistan: Earthquake,2008-04-17
3,ARG,Argentina,2008,640,635,Weather related,Flood,NaN,NaN,NaN,Argentina: Flood,2008-01-28
4,ATG,Antigua and Barbuda,2008,45,45,Weather related,Storm,NaN,NaN,NaN,Antigua and Barbuda: Storm,2008-10-15
...,...,...,...,...,...,...,...,...,...,...,...,...
17034,PRT,Portugal,2023,14,14,Weather related,Storm,NaN,22206.0,Displacement without preventive evacuations re...,"France, Spain, Portugal: Storm Aline",2023-10-17
17035,USA,United States,2023,9000,9000,Weather related,Storm,TC-2023-000150-MEX:Glide Number; TC-2023-00015...,22210.0,Displacement without preventive evacuations re...,"Mexico, United States: Tropical Cyclone Hilary",2023-08-16
17036,CUB,Cuba,2023,13000,13044,Weather related,Storm,NaN,22212.0,Displacement without preventive evacuations re...,"Cuba, United States: Tropical Cyclone Idalia",2023-08-26
17037,USA,United States,2023,57000,57483,Weather related,Storm,NaN,22212.0,Displacement reporting preventive evacuations,"Cuba, United States: Tropical Cyclone Idalia",2023-08-26
17038,PHL,Philippines,2023,50,50,Weather related,Erosion,NaN,22214.0,Displacement reporting preventive evacuations,Philippines: Erosion - Region V (Legazpi),2023-12-27

In [ ]:
df_innerDisplaced['Event ID'].value_counts()
df_innerDisplaced.rename(columns={'ISO3': 'location-code'}, inplace=True)
df_new = df_innerDisplaced[['hazard-location', 'event-data', 'Hazard Type', 'Disaster Internal Displacements', 'Disaster Internal Displacements (Raw)','Hazard Category']].copy()
df_new.head(10)

,hazard-location,event-data,Hazard Type,Disaster Internal Displacements,Disaster Internal Displacements (Raw),Hazard Category
0,Jersey,2023-11-02,Storm,84,84,Weather related
1,Afghanistan,2008-08-01,Flood,180,180,Weather related
2,Afghanistan,2008-04-17,Earthquake,3200,3250,Geophysical
3,Argentina,2008-01-28,Flood,640,635,Weather related
4,Antigua and Barbuda,2008-10-15,Storm,45,45,Weather related
5,Australia,2008-11-16,Storm,1000,1000,Weather related
6,Burundi,2008-09-20,Flood,2800,2770,Weather related
7,Benin,2008-07-01,Flood,150000,150000,Weather related
8,Burkina Faso,2008-08-01,Flood,28000,28000,Weather related
9,Bangladesh,2008-08-16,Mass Movement,1700,1657,Weather related

In [163]:
df_new = df_new[['hazard-location', 'event-data', 'hazard-type', 'hazard-category', 'internally-displaced', 'raw-internally-displaced']]
df_new

,hazard-location,event-data,hazard-type,hazard-category,internally-displaced,raw-internally-displaced
0,Jersey,2023-11-02,Storm,Weather related,84,84
1,Afghanistan,2008-08-01,Flood,Weather related,180,180
2,Afghanistan,2008-04-17,Earthquake,Geophysical,3200,3250
3,Argentina,2008-01-28,Flood,Weather related,640,635
4,Antigua and Barbuda,2008-10-15,Storm,Weather related,45,45
...,...,...,...,...,...,...
17034,Portugal,2023-10-17,Storm,Weather related,14,14
17035,United States,2023-08-16,Storm,Weather related,9000,9000
17036,Cuba,2023-08-26,Storm,Weather related,13000,13044
17037,United States,2023-08-26,Storm,Weather related,57000,57483
17038,Philippines,2023-12-27,Erosion,Weather related,50,50

In [161]:
df_new.rename(columns={
    'Hazard Type': 'hazard-type',
    'internally displaced': 'internally-displaced',
    'Disaster Internal Displacements (Raw)': 'raw-internally-displaced',
    'Hazard Category': 'hazard-category'
}, inplace=True)

In [162]:
df_new.head(10)

,hazard-location,event-data,hazard-type,hazard-category,internally-displaced,raw-internally-displaced
0,Jersey,2023-11-02,Storm,Weather related,84,84
1,Afghanistan,2008-08-01,Flood,Weather related,180,180
2,Afghanistan,2008-04-17,Earthquake,Geophysical,3200,3250
3,Argentina,2008-01-28,Flood,Weather related,640,635
4,Antigua and Barbuda,2008-10-15,Storm,Weather related,45,45
5,Australia,2008-11-16,Storm,Weather related,1000,1000
6,Burundi,2008-09-20,Flood,Weather related,2800,2770
7,Benin,2008-07-01,Flood,Weather related,150000,150000
8,Burkina Faso,2008-08-01,Flood,Weather related,28000,28000
9,Bangladesh,2008-08-16,Mass Movement,Weather related,1700,1657

In [169]:
top_10_hazard_locations = df_new.groupby('hazard-location')[['internally-displaced', 'raw-internally-displaced']].sum().sort_values(by='internally-displaced', ascending=False).head(10).reset_index()
top_10_hazard_locations

  hazard-location  internally-displaced  raw-internally-displaced
0           China              71873288                  71874296
1           India              40427438                  40430637
2     Philippines              36170040                  36170196
3        Pakistan              23198363                  23198147
4      Bangladesh              15438316                  15437952
5   United States               8923261                   8924944
6         Nigeria               8249440                   8250154
7         Somalia               5256707                   5256032
8         Türkiye               4458052                   4458729
9        Colombia               4084102                   4084836

In [176]:
df_new['displacement-difference'] = df_new['raw-internally-displaced'] - df_new['internally-displaced']
df_new[['hazard-location','internally-displaced','raw-internally-displaced','displacement-difference',]].tail(10)

,hazard-location,internally-displaced,raw-internally-displaced,displacement-difference
17029,Denmark,71,71,0
17030,Germany,2000,2000,0
17031,Ireland,7,7,0
17032,United Kingdom,4100,4098,-2
17033,France,330,326,-4
17034,Portugal,14,14,0
17035,United States,9000,9000,0
17036,Cuba,13000,13044,44
17037,United States,57000,57483,483
17038,Philippines,50,50,0