In [2]:
import pandas as pd
import numpy as np
df_apps = pd.read_csv('Assylum_applications_2014-2024.csv')
df_desc = pd.read_csv('Assylum_descisions_2014-2024.csv')
df_inDisplac = pd.read_csv('internal_displacment_2014-2024.csv')

In [3]:
df_apps.head(10)

,Year,Country of origin,Country of asylum,Authority,Application type,Stage of procedure,Cases / Persons,applied
0,2014,Iraq,Indonesia,U,N,FI,P,368
1,2014,Nigeria,United States of America,G,N,IN,C,331
2,2014,Palestinian,Algeria,U,N,FI,P,228
3,2014,China,France,G,N,FI,P,2673
4,2014,Ukraine,Chile,G,N,FI,P,5
5,2014,Algeria,Luxembourg,G,N,FI,P,41
6,2014,South Sudan,Egypt,U,R,RA,P,46
7,2014,Iraq,Oman,U,N,FI,P,161
8,2014,Pakistan,France,G,N,FI,P,2136
9,2014,Palestinian,Mauritania,U,N,FA,P,6

In [4]:
df_total_applied = df_apps[['Country of origin','applied']].groupby('Country of origin').sum().sort_values(by='applied', ascending=False).head(20).reset_index()
df_total_applied

                     Country of origin  applied
0                     Syrian Arab Rep.  1986844
1   Venezuela (Bolivarian Republic of)  1970125
2                          Afghanistan  1762334
3                                 Iraq  1022841
4                              Ukraine   831536
5                                Sudan   687672
6               Dem. Rep. of the Congo   670686
7                             Colombia   625641
8                              Somalia   587597
9                            Nicaragua   558944
10                            Honduras   556361
11                            Pakistan   552424
12                             Eritrea   546475
13                             Nigeria   535274
14                                Cuba   520162
15                             Türkiye   499309
16                               Haiti   487142
17              Iran (Islamic Rep. of)   422640
18                         El Salvador   406227
19                          Bangladesh   405489

In [5]:
df_desc.head(10)

,Year,Country of origin,Country of asylum,Authority,Stage of procedure,Cases / Persons,Recognized decisions,Complementary protection,Rejected decisions,Otherwise closed,Total decisions
0,2017,Afghanistan,Germany,G,NaN,P,17718,32647,56309,5918,112592
1,2020,Colombia,Spain,G,FI,P,624,152,37907,0,38683
2,2015,Serbia and Kosovo: S/RES/1244 (1999),Germany,G,NaN,P,17,124,37130,3981,41252
3,2015,Albania,Germany,G,NaN,P,5,69,31086,4075,35235
4,2016,Albania,Germany,G,NaN,P,18,139,29681,5400,35238
5,2016,Serbia and Kosovo: S/RES/1244 (1999),Germany,G,NaN,P,13,156,25836,4293,30298
6,2016,Afghanistan,Germany,G,NaN,P,13647,24108,24734,4892,67381
7,2017,Iraq,Germany,G,NaN,P,24009,15489,21751,7713,68962
8,2014,Zimbabwe,South Africa,G,FI,P,15,0,20244,10,20269
9,2021,Colombia,Spain,G,FI,P,1169,53,18619,0,19841

In [6]:
df_desc.tail(10)

,Year,Country of origin,Country of asylum,Authority,Stage of procedure,Cases / Persons,Recognized decisions,Complementary protection,Rejected decisions,Otherwise closed,Total decisions
54792,2015,Cuba,Curacao,U,FI,P,5,0,0,0,5
54793,2016,Venezuela (Bolivarian Republic of),Curacao,U,FI,P,5,0,0,0,5
54794,2020,Venezuela (Bolivarian Republic of),Curacao,U,FI,P,11,0,0,0,11
54795,2016,Colombia,Curacao,U,FI,P,5,0,0,5,10
54796,2019,Cuba,Curacao,U,FI,P,0,0,0,5,5
54797,2023,Venezuela (Bolivarian Republic of),Sint Maarten (Dutch part),U,FI,P,0,0,0,17,17
54798,2016,Syrian Arab Rep.,Sint Maarten (Dutch part),U,FI,P,0,0,0,5,5
54799,2023,Colombia,Sint Maarten (Dutch part),U,FI,P,5,0,0,0,5
54800,2020,Cuba,Sint Maarten (Dutch part),U,FI,P,5,0,0,0,5
54801,2024,Colombia,Sint Maarten (Dutch part),U,FI,P,5,0,0,0,5

In [7]:
df_todal_decisions = df_desc[['Country of origin','Total decisions']].groupby('Country of origin').sum().sort_values(by='Total decisions', ascending=False).head(20).reset_index()

In [8]:
df_todal_decisions

                       Country of origin  Total decisions
0                       Syrian Arab Rep.          1995499
1                            Afghanistan          1657853
2                               Unknown           1325466
3                                   Iraq          1034544
4     Venezuela (Bolivarian Republic of)           833398
5                                Ukraine           798475
6                 Dem. Rep. of the Congo           632843
7                               Pakistan           558779
8                                Nigeria           556228
9                                Eritrea           458076
10                Iran (Islamic Rep. of)           432548
11                               Somalia           424456
12                            Bangladesh           373416
13                               Türkiye           371075
14  Serbia and Kosovo: S/RES/1244 (1999)           361905
15                               Albania           344286
16                              Ethiopia           326094
17                    Russian Federation           315491
18                              Honduras           304240
19                                 China           290961

In [9]:
df_inDisplac.head(10)
df_inDisplac[df_inDisplac['Year']==2014].sort_values(by='Total', ascending=False).head(20)

    Year       Country of origin Country of asylum    Total
46  2014        Syrian Arab Rep.                 -  7600000
12  2014                Colombia                 -  6044000
23  2014                    Iraq                 -  3276000
44  2014                   Sudan                 -  3100000
11  2014  Dem. Rep. of the Congo                 -  2757000
36  2014                Pakistan                 -  1900000
45  2014             South Sudan                 -  1498000
43  2014                 Somalia                 -  1107000
35  2014                 Nigeria                 -  1075000
51  2014                 Türkiye                 -   954000
21  2014                   India                 -   854000
0   2014             Afghanistan                 -   805000
53  2014                 Ukraine                 -   647000
32  2014                 Myanmar                 -   645000
3   2014              Azerbaijan                 -   569000
7   2014    Central African Rep.                 -   439000
5   2014              Bangladesh                 -   426000
26  2014                   Libya                 -   400000
15  2014                Ethiopia                 -   397000
55  2014                   Yemen                 -   334000

In [31]:
df_inDisplac.head(20).sort_values(by='Total', ascending=False)

    Year       Country of origin Country of asylum    Total
12  2014                Colombia                 -  6044000
11  2014  Dem. Rep. of the Congo                 -  2757000
0   2014             Afghanistan                 -   805000
3   2014              Azerbaijan                 -   569000
7   2014    Central African Rep.                 -   439000
5   2014              Bangladesh                 -   426000
15  2014                Ethiopia                 -   397000
16  2014             Palestinian                 -   275000
18  2014               Guatemala                 -   249000
17  2014                 Georgia                 -   233000
13  2014                  Cyprus                 -   212000
6   2014  Bosnia and Herzegovina                 -   100000
4   2014                 Burundi                 -    78000
8   2014                    Chad                 -    71000
9   2014                Cameroon                 -    40000
19  2014                Honduras                 -    29000
14  2014                 Eritrea                 -    10000
2   2014                 Armenia                 -     8400
10  2014                   Congo                 -     7800
1   2014                   Egypt                 -     4100

In [ ]:
df_inDisplac[df_inDisplac['Country of asylum'].isnull()]
values = df_inDisplac['Country of asylum'].any
print(values)

<bound method Series.any of 0      -
1      -
2      -
3      -
4      -
      ..
640    -
641    -
642    -
643    -
644    -
Name: Country of asylum, Length: 645, dtype: object>

In [ ]:
df_inDisplac.drop('Country of asylum', axis=1, inplace=True)

In [ ]:
df_inDisplac[df_inDisplac['Year'].isnull()]
df_inDisplac['Year'].any
df_inDisplac['Year'].value_counts()

Year
2023    65
2024    65
2022    64
2019    61
2021    60
2020    59
2014    57
2016    55
2018    55
2015    52
2017    52
Name: count, dtype: int64

In [ ]:
values_displaced = df_inDisplac[df_inDisplac['Year']==2022].tail(60)
unknown_value = df_inDisplac[df_inDisplac['Country of origin']=='-']
unknown_value

     Year Country of origin  Total
56   2014                 -  20000
108  2015                 -  82000
163  2016                 -  20000
215  2017                 -  31000
270  2018                 -  31000
331  2019                 -  31000
390  2020                 -  19000
450  2021                 -  15000
514  2022                 -  56000
579  2023                 -  42000
644  2024                 -  42000

In [ ]:
pip install lxml

Collecting lxml
  Downloading lxml-5.3.0-cp310-cp310-macosx_10_9_universal2.whl (8.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.1/8.1 MB 15.1 MB/s eta 0:00:00m eta 0:00:010:01:01
Installing collected packages: lxml
Successfully installed lxml-5.3.0

[notice] A new release of pip is available: 23.0.1 -> 24.3.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [19]:
new_file = 'IDMC_GIDD_Disasters_Internal_Displacement_Data.xlsx'
csv_converted = 'innerDisplaced.csv'
df = pd.read_excel(new_file)
df.to_csv(csv_converted, index=False)
df_innerDisplaced = pd.read_csv('innerDisplaced.csv')
df_innerDisplaced.head()

,ISO3,Country / Territory,Year,Event Name,Date of Event (start),Disaster Internal Displacements,Disaster Internal Displacements (Raw),Hazard Category,Hazard Type,Hazard Sub Type,Event Codes (Code:Type),Event ID,Displacement occurred
0,JEY,Jersey,2023,Jersey: Storm - Countrywide - 02/11/2023,2023-11-02,84,84,Weather related,Storm,Storm,NaN,NaN,Displacement without preventive evacuations re...
1,AFG,Afghanistan,2008,Afghanistan: Flood - 01/08/2008,2008-08-01,180,180,Weather related,Flood,Flood,NaN,NaN,NaN
2,AFG,Afghanistan,2008,Afghanistan: Earthquake - 17/04/2008,2008-04-17,3200,3250,Geophysical,Earthquake,Earthquake,NaN,NaN,NaN
3,ARG,Argentina,2008,Argentina: Flood - 28/01/2008,2008-01-28,640,635,Weather related,Flood,Flood,NaN,NaN,NaN
4,ATG,Antigua and Barbuda,2008,Antigua and Barbuda: Storm - 15/10/2008,2008-10-15,45,45,Weather related,Storm,Storm,NaN,NaN,NaN

In [20]:
df_innerDisplaced['Hazard Type'].value_counts()

Hazard Type
Flood                  7704
Storm                  4874
Mass Movement          1824
Wildfire               1523
Earthquake              522
Drought                 259
Extreme Temperature     135
Volcanic activity       114
Erosion                  63
Wave action              21
Name: count, dtype: int64

In [29]:
df_innerDisplaced['Hazard Category'].value_counts()

Hazard Category
Weather related    16210
Geophysical          829
Name: count, dtype: int64

In [28]:
df_innerDisplaced['Year'].value_counts()

Year
2023    3925
2022    2311
2019    1920
2020    1828
2018    1604
2021    1224
2017     929
2014     695
2013     643
2015     599
2016     592
2008     184
2012     183
2010     146
2011     136
2009     120
Name: count, dtype: int64