In [34]:
import pandas as pd
import numpy as np
df_apps = pd.read_csv('Assylum_applications_2014-2024.csv')
df_desc = pd.read_csv('Assylum_descisions_2014-2024.csv')
df_inDisplac = pd.read_csv('internal_displacment_2014-2024.csv')

In [7]:
df_apps.head(10)

,Year,Country of origin,Country of asylum,Authority,Application type,Stage of procedure,Cases / Persons,applied
0,2014,Iraq,Indonesia,U,N,FI,P,368
1,2014,Nigeria,United States of America,G,N,IN,C,331
2,2014,Palestinian,Algeria,U,N,FI,P,228
3,2014,China,France,G,N,FI,P,2673
4,2014,Ukraine,Chile,G,N,FI,P,5
5,2014,Algeria,Luxembourg,G,N,FI,P,41
6,2014,South Sudan,Egypt,U,R,RA,P,46
7,2014,Iraq,Oman,U,N,FI,P,161
8,2014,Pakistan,France,G,N,FI,P,2136
9,2014,Palestinian,Mauritania,U,N,FA,P,6

In [25]:
df_apps['Country of origin'].value_counts()

Country of origin
Syrian Arab Rep.                     1352
Afghanistan                          1202
Nigeria                              1159
Pakistan                             1147
Dem. Rep. of the Congo               1145
                                     ...
Marshall Islands                        1
Monaco                                  1
Bonaire, Saint Eustatius and Saba       1
Puerto Rico                             1
New Caledonia                           1
Name: count, Length: 208, dtype: int64

In [45]:
df_apps[['Country of origin','Year']].groupby('Country of origin')