In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('internal_displacment_2014-2024.csv')
df.head()

   Year Country of origin Country of asylum   Total
0  2014       Afghanistan                 -  805000
1  2014             Egypt                 -    4100
2  2014           Armenia                 -    8400
3  2014        Azerbaijan                 -  569000
4  2014           Burundi                 -   78000

In [6]:
df.drop('Country of asylum',axis=1,inplace=True)

KeyError: "['Country of asylum'] not found in axis"

In [ ]:
df.head()

   Year Country of origin   Total
0  2014       Afghanistan  805000
1  2014             Egypt    4100
2  2014           Armenia    8400
3  2014        Azerbaijan  569000
4  2014           Burundi   78000

In [15]:
df['Total'].describe()

count    6.450000e+02
mean     8.461962e+05
std      1.568580e+06
min      2.000000e+00
25%      1.900000e+04
50%      1.900000e+05
75%      7.300000e+05
max      9.053000e+06
Name: Total, dtype: float64

In [20]:
df['Country of origin'].nunique()

79

In [21]:
df.isnull().sum()

Year                 0
Country of origin    0
Total                0
dtype: int64

In [23]:
df.columns = df.columns.str.lower().str.replace(' ','-')
df.head()

   year country-of-origin   total
0  2014       Afghanistan  805000
1  2014             Egypt    4100
2  2014           Armenia    8400
3  2014        Azerbaijan  569000
4  2014           Burundi   78000

In [31]:
df.groupby(['country-of-origin','year'])['total'].sum().sort_values(ascending=False).head(15)

country-of-origin       year
Sudan                   2024    9053000
                        2023    9053000
Syrian Arab Rep.        2014    7600000
                        2023    7248000
                        2024    7248000
Colombia                2016    7246000
Syrian Arab Rep.        2022    6865000
                        2017    6784000
Dem. Rep. of the Congo  2023    6734000
                        2024    6734000
Syrian Arab Rep.        2021    6662000
                        2015    6600000
                        2020    6568000
Colombia                2017    6509000
Syrian Arab Rep.        2019    6495000
Name: total, dtype: int64

In [32]:
df.groupby(['year','country-of-origin'])['total'].sum().sort_values(by='total',ascending=False)

TypeError: Series.sort_values() got an unexpected keyword argument 'by'

In [ ]:
df[['year', 'total']].groupby(by="year").sum().sort_values(by="total",ascending=False)

TypeError: 'str' object cannot be interpreted as an integer